@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: white;
}

.ReactCollapse--collapse {
  transition: height 500ms;
  width: 100%;
}

.ReactCollapse--content {
  width: 100%;
}